<header class="navbar" id="header-navbar">
    <div class="container">
        <a href="/" id="logo" class="navbar-brand col-md-3 col-sm-4 col-xs-12">
            <figure class="toolx-logo header">
                <i class="icon-isologo"></i>
                <span>S2R2</span>
                {#<i class="icon-logo"></i>#}
            </figure>
        </a>

        <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>

        <div class="nav-no-collapse pull-right" id="header-nav">
            <ul class="nav navbar-nav pull-right">
                <li class="hidden-xs">
                    <a href="/system/settings" class="btn">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                <li class="dropdown profile-dropdown">
                    {% if userLogged %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{userLogged.getProfilePhoto(35)}}" alt="" class="img-circle"/>
                            <span class="hidden-xs">{{ userLogged.getName() }}</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/system/profile"><i class="fa fa-user"></i>Profile</a></li>
                            <li><a href="/system/settings"><i class="fa fa-cog"></i>Settings</a></li>
                            <li><a href="/system/login/logout"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    {% endif %}
                </li>
                <li class="hidden-xxs">
                    <a class="btn" href="/system/login/logout">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>