<a href="/Test" class="menu dropdown-toggle"> <i class="fa fa-gear"></i> <span>Test</span> <i class="fa fa-chevron-circle-down drop-icon"></i> </a> <ul class="submenu" {% if moduleActive %}style="display:block;"{% endif %}> <li><a {% if migrationManagerModuleActive %}class="active"{% endif %} href="/Test/default/default">Default Action</a></li> </ul>
